%nav.bread-crumbs{ id: 'bread-bottom' }
  %ul
    %li
      = link_to root_path do
        フリマ
        %i.fas.fa-chevron-right
    %li
      %span
        -# = @product.name
        -# @post.nameに変更する