%body
  %header.toppage-header-wrapper
    .toppage-header-top
      .toppage-header-top__header
        .toppage-header-top__header-contents
          .toppage-header-top__header-search
            %form
              %input/
            .toppage-header-top__header-search--search-btn
      .toppage-header-top__footer
        %nav.toppage-header-top__footer-search
          %ul.toppage-header-top__footer-search-categories
            %li.toppage-header-top__footer-search-wrapper
              %h2
              .categories-wrapper
                %ul.first-category__wrapper
                %ul.second-category__wrapper
                %ul.third-category__wrapper
            %li.toppage-header-top__footer-search-brand
              %h2
              %ul.brand__wrapper
                %li.brand
                  %p アディダス
                %li.brand
                  %p ナイキ
                %li.brand
                  %p ルイ・ヴィトン
                %li.brand
                  %p シャネル
                %li.brand
                  %p シュプリーム
                %li.brand
                  %p ブランド一覧
        .toppage-header-top__footer-contents
